* {
  box-sizing: border-box;
  text-align: center;
}
body {
	font-size: 24px;
	line-height: 32px;
	background-image:url(file:///Users/D/Downloads/concrete_seamless%202/concrete_seamless.png);
    border: transparent;
}
header {
	background-color:white;
	padding-top: 5px;
	margin-bottom: 20px;
}
a {
   color:#777777;
  text-decoration: none; /* no underline */
}
#APC {
  float: right;
  border: transparent;
  padding-right: 20px;
  padding-top: 20px;
  color:#777777;
  font-family: serif;
  font-size: 18px;
}
#Name {
    background-color:#4aaaa5;
    color: white;
    text-align:center;
    padding-top: 10px;
    border: solid;
    border-color: #4aaaa5;
    width: 20%;
    height: 85px;
    font-family: serif;
    font-size: 30px;
    margin-left: 122px;
  }
section {
	padding: 20px;
	margin-bottom: 20px;
}
#left {
	float: left;
	width: 33.3%;
	background: #666;
	color: #fff;
}
#middle {
	float: left;
	width: 33.3%;
	background: #888;
	color: #fff;
}
#right {
	float: left;
	width: 33.3%;
	background: #666;
	color: #fff;
}
#full {
	clear: both;
	width: 100%;
	overflow: auto;
}
#division {

	padding: 20px;
	margin-top: 20px;
}
aside {
	float: left;
	width: 50%;
	margin-left: 100px;
	padding: 20px;
	height: 620px;
	background: #fff;
	border: 1px solid #eee;
	border: ridge;
	color: #4aaaa5;

}
#ContactMain {
   color: #4aaaa5;
   background-color:white;
   font-family: Helvetica;

 }
 #Id{
 	border: transparent;
 	width: 50px;
 	font-weight: bold;
 	padding-left: 5px;
 }
 #Id2{
 	border: transparent;
 	width: 50px;
 	color: #777777;
 	font-size: 14px;
 	padding-left: 5px;
 }
#AboutMe {
  border: transparent;
  text-align: left;
  width: 125px;
  color: #4aaaa5;
  font-weight: bold;
    
}
#AboutPic {
  border: transparent;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
   
}
#About {
   border:transparent;
   color: #777777;
   width: 630px;
   font-size: 14px;
   text-align: left;
   font-family: Arial;
   padding-left: 10px;
   }

aside2 {
	float: left;
	width: 20%;
	margin-left: 30px;
	padding: 20px;
	height: 170px;
	background: white;
	border: 1px solid #eee;
	border: ridge;
	font-family: Times;
	color: #4aaaa5;
	font-weight: bold;
}

#underline{
  border-bottom: solid;
  border-width: 1px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  color:#777777;
}

#footcopy	{
text-align:center;
height: 110px;
font-family: serif;
font-size: 12px;
}

footer {
	background-color:#666666;
	color:white;
	padding: 20px;
	clear: both;
	border-top: solid;
	border-color: #4aaaa5;
	border-width: 5px;
	height: 100%;
}
@media only screen and (max-width: 980px){
	body {
	font-size: 24px;
	line-height: 32px;
	background-image: url("Portfolio/assets/images/concrete_seamless.png");
    border: transparent;
    width: 980px;
}
#APC {
  float: right;
  border: transparent;
  padding-right: 20px;
  padding-top: 20px;
  margin-right: 10px;
  color:#777777;
  font-family: serif;
  font-size: 18px;
}
	#AboutPic {
  	border: transparent;
  	margin-top: 10px;
  	margin-left: 100px;
  	margin-right: 130px;
   
}
	aside {
	float: left;
	width: 50%;
	margin-left: 100px;
	margin-bottom: 30px;
	padding: 20px;
	height: 1000px;
	background: #fff;
	border: 1px solid #eee;
	border: ridge;
	color: #4aaaa5;
}
	aside2 {
	float: left;
	width: 25%;
	margin-left: 20px;
	padding: 20px;
	height: 170px;
	background: white;
	border: 1px solid #eee;
	border: ridge;
	font-family: Times;
	color: #4aaaa5;
	font-weight: bold;

}
@media only screen and (max-width: 768px){
	body {
	font-size: 24px;
	line-height: 32px;
	background-image: url("Portfolio/assets/images/concrete_seamless.png");
    border: transparent;
    width: 768px;
}
#AboutPic {
  border: transparent;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#Name {
    background-color:#4aaaa5;
    color: white;
    text-align:center;
    padding-top: 10px;
    border: solid;
    border-color: #4aaaa5;
    width: 20%;
    height: 85px;
    font-family: serif;
    font-size: 22px;
    margin-left: 122px;
  }
	aside {
	float: left;
	width: 85%;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 20px;
	height: 620px;
	background: #fff;
	border: 1px solid #eee;
	border: ridge;
	color: #4aaaa5;
}
	aside2 {
	float: left;
	width: 85%;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 20px;
	height: 170px;
	background: white;
	border: 1px solid #eee;
	border: ridge;
	font-family: Times;
	color: #4aaaa5;
	font-weight: bold;

}
@media only screen and (max-width: 640px){
	body {
	font-size: 24px;
	line-height: 32px;
	background-image: url("Portfolio/assets/images/concrete_seamless.png");
    border: transparent;
    width: 640px;
}
header {
	background-color:#4aaaa5;
	position:static;
	width: 100%;
	height: 133px;
	border-bottom: solid;
	border-width: 58px;
	border-color: white;
}
a {
   color:#777777;
  text-decoration: none; /* no underline */
}
#APC {
	float: left;
  border: solid;
  padding-right: 20px;
  padding-top: 20px;
  color:white;
  font-family: serif;
  font-size: 20px;
  margin-top: 70px;
  width: 100%;
  background-color: white;
  position: static;
}}
#Name {
    background-color:#4aaaa5;
    border-color:#4aaaa5;
    color: white;
    text-align:center;
    width: 380px;
    height: 70px;
    font-family: serif;
    font-size: 30px;
    position: absolute;
    float: left;

  }
  #AboutPic {
  	border: transparent;
  	margin-top: 10px;
  	margin-left: 150px;
  	margin-right: 150px;
   
}
	aside {
	float: left;
	width: 82%;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 20px;
	height: 1000px;
	background: #fff;
	border: 1px solid #eee;
	border: ridge;
	color: #4aaaa5;
}
	aside2 {
	float: left;
	width: 82%;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 20px;
	height: 170px;
	background: white;
	border: 1px solid #eee;
	border: ridge;
	font-family: Times;
	color: #4aaaa5;
	font-weight: bold;

}
}